
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url(goooodbg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    background-image: url(pahadbg.jpg);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #45a29e;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #45a29e;
}

.input-group input {
    width: 89%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #035496;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue; 
}

.message {
    margin-top: 15px;
    text-align: center;
    color: red;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
}

.toggle-link a {
    color: #15d6c6;
    text-decoration: none;
}

.toggle-link a:hover {
    text-decoration: underline;
}
.secured-content {
    background-color: #747474;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
